In [73]:
import pandas as pd  

# Load training and testing datasets  
train_df = pd.read_csv("house-prices-advanced-regression-techniques/train.csv")  
test_df = pd.read_csv("house-prices-advanced-regression-techniques/test.csv")  

# Display first few rows of training data  
train_df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [83]:
categorical_columns = X_train.select_dtypes(include=['object']).columns
print("Categorical columns:", categorical_columns)

Categorical columns: Index(['Neighborhood'], dtype='object')

In [85]:
# Selecting required features and target variable
selected_features = ["GrLivArea", "BedroomAbvGr", "FullBath", "GarageCars", "TotalBsmtSF"]
target = "SalePrice"

# Drop missing values (if any)
train_df = train_df[selected_features + [target]].dropna()
test_df = test_df[selected_features].dropna()

In [91]:
from sklearn.model_selection import train_test_split

X = train_df[selected_features]
y = train_df[target]

X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [93]:
from sklearn.linear_model import LinearRegression  

# Initialize and train the model  
model = LinearRegression()  
model.fit(X_train, y_train)  

# Check model coefficients  
print("Coefficients:", model.coef_)  
print("Intercept:", model.intercept_)

Coefficients: [    69.00025747 -14569.86118755  15645.45538391  29003.84095833
     41.51965945]
Intercept: -2270.3064672300243

In [95]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

# Make predictions on validation data
y_pred = model.predict(X_val)
# Evaluate performance
mae = mean_absolute_error(y_val, y_pred)
mse = mean_squared_error(y_val, y_pred)
rmse = mse ** 0.5

print(f"Mean Absolute Error: {mae}")
print(f"Root Mean Squared Error: {rmse}")

Mean Absolute Error: 28089.289386863264
Root Mean Squared Error: 43302.811169843226

In [101]:
# Predict prices for test data
test_predictions = model.predict(test_df)

# Save predictions to CSV
submission = pd.DataFrame({"Id": test_df.index, "SalePrice": test_predictions})
submission.to_csv("house_price_predictions.csv", index=False)

print("Predictions saved as house_price_predictions.csv")

Predictions saved as house_price_predictions.csv